<div class="home-container">
  <div class="home-history">
    <h3>Transaction History</h3>
    <table>
      <tr>
        <th>Sending Email</th>
        <th>Recipient Email</th>
        <th>Amount</th>
      </tr>
      <tr *ngFor="let transaction of allTransactions">
        <td>{{transaction.sendingEmail}}</td>
        <td>{{transaction.recipientEmail}}</td>
        <td>{{transaction.amount}}</td>
      </tr>
    </table>
  </div>

  <div class="home-section news-feed">
    <h3>News Feed</h3>
    <div class="subsection-container">
      <div class="subsection">
        <h4>Understanding Blockchain Technology</h4>
        <p>Blockchain is the foundational tech behind cryptocurrencies. Learn how it works and why it's considered secure with our summary of blockchain principles.</p>
        <a href="https://www.coinbase.com/learn/crypto-basics/what-is-blockchain" target="_blank">Read more on Coinbase Learn</a>
      </div>
      <div class="subsection">
        <h4>Understanding Blockchain Technology</h4>
        <p>Blockchain is the foundational tech behind cryptocurrencies. Learn how it works and why it's considered secure with our summary of blockchain principles.</p>
        <a href="https://www.coinbase.com/learn/crypto-basics/what-is-blockchain" target="_blank">Read more on Coinbase Learn</a>
      </div>
    </div>
  </div>

  <div class="home-section educational-content">
    <h3>Educational Content</h3>
    <div class="subsection-container">
      <div class="subsection">
        <h4>Understanding Blockchain Technology</h4>
        <p>Blockchain is the foundational tech behind cryptocurrencies. Learn how it works and why it's considered secure with our summary of blockchain principles.</p>
        <a href="https://www.coinbase.com/learn/crypto-basics/what-is-blockchain" target="_blank">Read more on Coinbase Learn</a>
      </div>
      <div class="subsection">
        <h4>Understanding Blockchain Technology</h4>
        <p>Blockchain is the foundational tech behind cryptocurrencies. Learn how it works and why it's considered secure with our summary of blockchain principles.</p>
        <a href="https://www.coinbase.com/learn/crypto-basics/what-is-blockchain" target="_blank">Read more on Coinbase Learn</a>
      </div>
    </div>
  </div>


</div>





