<body class="fixed-sn light-blue-skin">
  <header>
    <app-navbar></app-navbar>
  </header>

  <app-sidebar></app-sidebar>
  <main>
    <div class="container-fluid mt-5">
      <router-outlet></router-outlet>
    </div>
  </main>
</body>



















<!--app.component.html
<body class="fixed-sn light-blue-skin">
  <header>
 Sidebar navigation
<div id="slide-out" class="side-nav sn-bg-4 fixed" [ngClass]="{'active': isSidebarActive}">
 ...sidebar content...
<app-sidebar></app-sidebar>
</div>
/. Sidebar navigation
 Navbar
<nav class="navbar fixed-top navbar-expand-lg double-nav">
 ...navbar content...
<app-navbar></app-navbar>
</nav>
 /.Navbar
</header>
Main Layout
<main>
  <div class="container-fluid mt-5">
 ...main content...
<router-outlet></router-outlet>
  </div>
</main>
Main Layout
</body>
<div class="navbar">
  <app-navbar></app-navbar>
</div>
<div class="sidebar">

  <app-sidebar></app-sidebar>
</div>



<div class="main-content">
  <router-outlet></router-outlet>
</div>-->
